<div class="container-xxl pb-5" id="contact">
  <div class="container py-5">
    <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="col-lg-6">
        <h1 class="display-5 mb-0">Let's Work Together</h1>
      </div>
      <div class="col-lg-6">
      </div>
    </div>
    <div class="row g-5">
      <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <p class="mb-2">My Location</p>
        <h3 class="fw-bold">UAE - Abu Dhabi</h3>
        <hr class="w-100">
        <p class="mb-2">Call me:</p>
        <h3 class="fw-bold">0503622611</h3>
        <hr class="w-100">
        <p class="mb-2">Mail me:</p>
        <h3 class="fw-bold">marah.ashkar84@gmail.com</h3>
        <hr class="w-100">
        <p class="mb-2">Follow me:</p>
        <div class="d-flex pt-2">
          <a class="btn btn-square btn-bg me-2" href="https://www.facebook.com/profile.php?id=100006772845215&mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-square btn-bg me-2" href="https://www.linkedin.com/in/marah-ashkar-b83b711bb" target="_blank"><i
              class="fab fa-linkedin-in"></i></a>
              <a class="btn btn-square btn-bg me-2" href="https://github.com/marahashkar" target="_blank">

                <i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <form action="https://formsubmit.co/marah.ashkar84@gmail.com" method="POST">
          <div class="row g-3">
            <div class="col-md-6">
              <div class="form-floating">
                <input name="name" type="text" class="form-control" id="name" placeholder="Your Name">
                <label for="name">Your Name</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input name="email" type="email" class="form-control" id="email" placeholder="Your Email">
                <label for="email">Your Email</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <input name="_subject" type="text" class="form-control" id="subject" placeholder="Subject">
                <label for="subject">Subject</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating">
                <textarea name="message" class="form-control" placeholder="Leave a message here" id="message"
                  style="height: 100px"></textarea>
                <label for="message">Message</label>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-bg py-3 px-5" type="submit">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
