<div class="container-fluid bg-light  my-6-3" id="home">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-12 py-6 pb-0  px-8 px-8-0 py-6-1">
        <h3 class="text-color mb-3">I'm</h3>
        <h1 class="display-3 mb-3 add-size">Marah Ashkar</h1>
        <ngx-typed-js
          [strings]="['Web Designer.', 'Web Developer.', 'Front End Developer.','App Designer & Developer.','UI/UX Designer.']"
          [shuffle]="true" [typeSpeed]="100" [loop]="true" [fadeOut]="true" [showCursor]="true">
          <h2 class="typing typed-text-output d-inline add-size"></h2>
        </ngx-typed-js>

        <div class=" d-flex align-items-center pt-5 pt-5-1">
          <a href="assets/Marah Ashkar-Frontend Developer.pdf" target="_blank" download="download.pdf"
            class="btn btn-bg py-3 px-4 me-5 anim p-btn">Download CV</a>
        </div>
      </div>
      <!-- <div class="col-lg-6">
        <img class="img-fluid" src="assets/images/new.png" alt="">
      </div> -->
    </div>
  </div>
</div>
