<div class="container-xxl py-6 add-py" id="about">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="d-flex align-items-center mb-5">
          <div class="years flex-shrink-0 text-center me-4">
            <h1 class="display-1 mb-0">3</h1>
            <h5 class="mb-0">Years</h5>
          </div>
          <h3 class="lh-base mb-0">of working experience as a Websites designing & development</h3>
        </div>
        <p class="mb-4">
          I’m a Web Developer with more than three years of experience using my skills in(HTML,CSS,JavaScript,Angular) as a part of
          a team, I’m always willing to learn new skills and collaborate with colleagues to complete projects successfully and on
          time.
        <p>
        <p class="mb-3"><i class="far fa-check-circle text-color me-3"></i>Afordable Prices</p>
        <p class="mb-3"><i class="far fa-check-circle text-color me-3"></i>High Quality Product</p>
        <p class="mb-3"><i class="far fa-check-circle text-color me-3"></i>On Time Project Delivery</p>

      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="row g-3 mb-4">
          <div class="col-sm-12">
            <img class="img-fluid rounded" src="assets/images/experience.png" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
