<nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top shadow py-lg-0 px-4 px-lg-5 wow fadeIn
" style="display: block;" data-wow-delay="0.1s">
  <a href="index.html" class="navbar-brand d-block d-lg-none">
    <!-- <h1 class="text-primary fw-bold m-0">ProMan</h1> -->
  </a>
  <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between py-4 py-lg-0" id="navbarCollapse">
    <div class="navbar-nav ms-auto py-0">
      <a href="#home" class="nav-item nav-link active add">Home</a>
      <a href="#about" class="nav-item nav-link add">About</a>
      <a href="#skill" class="nav-item nav-link add">Skills</a>
    </div>
      <div class="navbar-brand bg-color d-lg-block py-3 px-4 mx-3 d-none add-style"
      ></div>
    <!-- <a href="index.html" class="navbar-brand  py-3 px-4 mx-3 d-none d-lg-block bg-color">
   <img src="assets/images/m2.png" style="width:100px ;">
      <h1 class="text-color fw-bold m-0">Portfolio</h1>
    </a> -->
    <div class="navbar-nav me-auto py-0">
      <a href="#service" class="nav-item nav-link add">Services</a>
      <a href="#project" class="nav-item nav-link add">Projects</a>
      <a href="#contact" class="nav-item nav-link add">Contact</a>
    </div>
  </div>
</nav>
