/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #e86685;
    color: #f4d1d8;
  --secondary: #f4d1d8;
  --light: #FAFAFB;
  --dark: #12141D;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}
.btn-bg-secondary{
  background-color: var(--secondary);
}
.text-light{
  color: var(--light);
}
.text-color{
  color: var(--primary);
}
.bg-color{
  background-color: var(--secondary);
}

.btn-bg {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--light);
}
.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.px-8{
  padding-right:8rem;
  padding-left: 8rem;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/*** Button ***/
.btn {
  font-weight: 500;
  transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}
















/*** Team ***/
.team-item img {
  transition: .5s;
}

.team-item:hover img {
  opacity: .7;
}

.team-item .team-text {
  position: absolute;
  left: 0;
  right: 60px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: .5s;
}

.team-item:hover .team-text {
  right: 30px;
  opacity: 1;
}

.team-item .team-text div {
  transition: .5s;
}

.team-item:hover .team-text div {
  margin-left: 30px;
}


/*** Testimonial ***/
.testimonial-left,
.testimonial-right {
  position: relative;
}

.testimonial-left img,
.testimonial-right img {
  position: absolute;
  padding: 5px;
  border: 1px solid var(--secondary);
  border-radius: 70px;
}

.testimonial-left img:nth-child(1),
.testimonial-right img:nth-child(3) {
  width: 70px;
  height: 70px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-left img:nth-child(2),
.testimonial-right img:nth-child(2) {
  width: 60px;
  height: 60px;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.testimonial-left img:nth-child(3),
.testimonial-right img:nth-child(1) {
  width: 50px;
  height: 50px;
  bottom: 10%;
  right: 10%;
}

.testimonial-carousel .owl-item img {
  width: 120px;
  height: 120px;
}

.testimonial-carousel .testimonial-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid var(--secondary);
  border-radius: 60px;
}

.testimonial-carousel .owl-dots {
  height: 40px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 2px solid var(--secondary);
  border-radius: 30px;
  transition: .5s;
}

.testimonial-carousel .owl-dot::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 5px;
  left: 5px;
  border-radius: 16px;
  background: var(--secondary);
  transition: .5s;
}

.testimonial-carousel .owl-dot.active::after {
  background: var(--primary);
}
